@font-face {
  font-family: "Outfit";
  font-weight: 400;
  src: url(../fonts/Outfit-Regular.ttf);
}

@font-face {
  font-family: "Outfit";
  font-weight: 700;
  src: url(../fonts/Outfit-Bold.ttf);
}
